# cái này lưu đúng phiên bản của các inject không có ^ hay ~
# save-exact=true

# cho phép bỏ qua kiểm tra xung đột giữa các dependencies
legacy-peer-deps=false

# tự động cài đặt các dependencies bị thiếu khác
auto-install-peers=true

# kiểm tra xung đột giữa các dependencies
strict-peer-dependencies=true

# bỏ qua môi trường làm việc khi nội bộ không theo chuẩn SSL
strict-ssl=false

# giữ lại cache khi cài đặt các gói thay vì trong ổ C
cache=E:\cache
